<% provide(:title, 'Contact') %>

<div id="wrapper">
  <div id="marketing">
    <div class="5grid-layout">
      <div class="row divider">


          <h1 class="title">Contact</h1>
          <p>
          Contact Ruby on Rails Tutorial about the sample app at the
          <a href="http://railstutorial.org/contact">contact page</a>.
          </p>



       </div>
    </div>
  </div>
</div>