<div class="center hero-unit">
  <h1>Bem vindo a Studiare!</h1>

  <h2>
    Esta é a home page da mais dinâmica e completa solução para o ENEM
    e ensino médio.
  </h2>

  <%= link_to "Criar minha conta", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


