

<div id="header-wrapper">
  <header id="header" class="azulbebe">
    <div class="5grid-layout">
      <div class="row">
        <div class="4u" id="logo">
          <h1><a href="#" class="mobileUI-site-name">Studiare Educação</a></h1>
        </div>
        <div class="8u" id="menu">
          <nav class="mobileUI-site-nav">
            <ul>
             <li> <%= link_to "Home", root_path, class: "current_page_item" %> </li>
             <li> <%= link_to "Missão", help_path %> </li>
             <li> <%= link_to "Metodo", about_path %> </li>
             <li> <%= link_to "Quem somos", contact_path %> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>

